* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
nav {
  height: 80px;
  position: relative;
  font-weight: 700;
  background-color: yellow;
}
#navbarSupportedContent {
  justify-content: space-evenly;
}

.form-inline {
  display: flex;
}
.form-control{
  margin-right: 10px;
}
div#addForm {
  padding: 20px;
}
